﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Vaal wheel</h1>
    <p><a href="~/VaalWheel">Click here to go to the vaal wheel</a>.</p>
    <div class="row">&nbsp;</div>
    <form action="javascript:void(0);" onsubmit="getLogForChannel()">
        <input type="text" id="channelText" placeholder="Channel name">
        <input type="submit" value="Get log">
    </form>
    <div id="channelLogContent" class="row"></div>
</div>
<script src="~/js/get_channel_log.js"></script>
