﻿@page

@{
    Layout = null;
}

<div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-2" style="font-size:x-large;visibility:hidden" id="userDiv" />
    </div>
    <div class="row">&nbsp;</div>
    <canvas id='canvas' width='400' height='400' style="visibility:hidden">
        Canvas not supported, use another browser.
    </canvas>
</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<!--Winwheel needs TweenMax-->
<script src="~/js/javascript-winwheel-2.7.0/TweenMax.min.js"></script>
<script src="~/js/javascript-winwheel-2.7.0/Winwheel.js"></script>
<script src="~/js/vaalResult.js"></script>
